@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');
body{
  margin:50px 30%;
}
#t1{
  font-family: sans-serif;
  text-align: left;
  border-collapse: separate;
  border-spacing: 5px;
  background: #ece9e0;
  color: #656665;
  border: 16px solid #ece9e0;
  border-radius: 20px;
}
th{
  font-size: 18px;
  padding: 10px;
}
td{
  background: #f5d7bf;
  padding: 10px;
}
/*table 2*/
table#t2{
  font-family: 'Dancing Script', cursive;
  font-style: 26px;
  font-weight:700;
  text-align: center;
  border-collapse: collapse;
}
table#t2 th,table#t2 td:first-child{
  background: #afcde7;
  color: #fff;
  padding: 10px 20px;
}
table#t2 th,table#t2 td{
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #fff;
}
table#t2 td{
  background: #d8e6f3;

}
table#t2 th:first-child,table#t2 td:first-child{
  text-align:left;
}

p{
  font-family: 'Dancing Script', cursive;
}

ul{
  list-style: url(/ico/bell.ico) outside ;
  
}
li{
  font-size: 24px;
  color: rgba(252, 111, 111, 0.712);
}